section {
    width: 100vw;
    padding: 30px 50px;
}

section div .back {
    text-decoration: none;
    width: 130px;
    height: 40px;
    background: #fff;
    color: #333;
    box-shadow: 0 0 5px #e2e2e2;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;
}

section div .back img {
    height: 30px;
    float: left;
}

/* above are back button styles */


/* below are country-info styles */

@media screen and (max-width:700px){
    .country-info {
        display: block;
        
    }

    .country-info .flag {
        width: 100%;
        height: 50%;
        margin-top: 50px;
        box-shadow: 0 0 5px #e2e2e2;
        object-fit: cover;
    }

    .country-info .info {
        padding: 20px 0 0 10px;

        display: grid;
        grid-template-rows: auto auto auto;

        align-content: left;
    }

    .country-info .info .country-details {

        row-gap: 15px;
        margin-bottom: 50px;
    }

    .country-info .info .country-details p {
        padding-top: 10px;
    }

    .country-info .info .border-button {
        display: grid;
        grid-template-columns: auto;
    }

.country-info .info .border-button .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: auto;
    padding: 10px;
    margin: 5px;

    color: #333;
    text-decoration: none;
    box-shadow: 0 0 5px #e2e2e2;
    border-radius: 5px;

    
    overflow-y: hidden;
}
}


@media screen and (min-width: 700px) {
.country-info {
    display: grid;
    grid-template-columns: auto auto;
    
    padding: 40px;
}

.country-info .flag {
    width: 35vw;
    height: 55vh;
    box-shadow: 0 0 5px #e2e2e2;
    object-fit: cover;
}

.country-info .info {
    padding: 20px 0 0 80px;

    display: grid;
    grid-template-rows: auto auto auto;

    align-content: left;
}

.country-info .info .country-details {
    columns: 2;
    row-gap: 15px;

    margin-bottom: 50px;
}

.country-info .info .country-details p {
    padding-top: 10px;
}

.country-info .info .border-button {
    display: grid;
    grid-template-columns: auto auto;
}

.country-info .info .border-button .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: auto;
    padding: 10px;
    margin: 5px;

    color: #333;
    text-decoration: none;
    box-shadow: 0 0 5px #e2e2e2;
    border-radius: 5px;

    
    overflow-y: hidden;
}
}